

.member p {
    font-size: 14px;
    color: #777;
}

.member:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.member:hover img {
    transform: scale(1.05);
}



footer{
    background-color:  rgb(171, 192, 117);
    padding: 20px;
    font-weight: 200;
    font-size: 1.5rem;
}

footer h2{
    padding: 10px;
}
footer p{
    padding-left:20px;
    font-size: 1.5rem;
}

footer ul{
    padding: 5px 30px;   
}

footer .foot {
    background-color: rgb(37, 60, 35);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: 40px;
}

footer .social-media a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:5px;
    display: block;
}

footer .social-media a:hover {
    color: #b3d234;
}

footer p  {
    margin-top: 10px;
    font-size: 1.5rem;
    padding-right: 10px; 
}
